<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Auction Expired</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<nav class="navbar">
</nav>

<div class="main-container">
  <div class="expired-auction-container">
    <h1>Auction Expired</h1>
    <p>The auction you are trying to view has expired. Check out other active auctions that might interest you.</p>
    <a th:href="@{/home}" class="btn btn-primary">Back To Home</a>
  </div>
</div>

</body>