
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>My Listings</title>
    <link th:href="@{/css/search-bar.css}" rel="stylesheet" />
    <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/css/user-auctions.css}" rel="stylesheet" />
    <link th:href="@{/css/auction-create.css}" rel="stylesheet"/>
    <link th:href="@{/css/all-auctions.css}" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <script th:src="@{/js/dropdown.js}"></script>
    <script th:src="@{/js/auction-search.js}"></script>
    <script th:src="@{/js/user-auctions.js}"></script>
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="layout-container">
    <div class="sidebar">
        <h2>Auction Sections</h2>
        <a href="#" class="sidebar-link" id="ongoingLink">Ongoing Auctions</a>
        <a href="#" class="sidebar-link" id="soldLink">Ended Auctions</a>
        <a href="/admin/profile" class="sidebar-link">Back to Profile</a>
    </div>
    <div class="main-content">
        <div id="ongoingAuctions" class="auction-list">
            <div class="featured-auctions">
                <div class="featured-auctions-title">
                    <img th:src="@{/auctionSectionImages/ongoing-auctions.png}" alt="OnGoing Logo" class="featured-auctions-logo"/>
                    <h2>Ongoing Auctions</h2>
                </div>
                <div th:if="${ongoingAuctions.isEmpty()}" class="no-auctions-message">
                    <div>No ongoing auctions available.</div>
                </div>
                <div class="auction-items-container" th:unless="${ongoingAuctions.isEmpty()}" th:each="auction : ${ongoingAuctions}" th:id="'auction-item-' + ${auction.id} ">
                    <a th:href="@{'/auction/' + ${auction.slug}}" class="auction-item auction-item-link">

                        <img th:src="@{|/${auction.imageUrls[0]}|}" alt="Auction Image" class="auction-image"/>
                        <div class="auction-info">
                            <h3 th:text="${auction.title}">Auction Title</h3>
                            <div>Starts/Ends: <span th:text="${#temporals.format(auction.startTime, 'yyyy-MM-dd HH:mm')}"></span> - <span th:text="${#temporals.format(auction.endTime, 'yyyy-MM-dd HH:mm')}"></span></div>
                        </div>

                        <img th:if="${auction.featuredType != T(pl.use.auction.model.FeaturedType).NONE}"
                             th:src="@{'/auctionSectionImages/' + ${auction.featuredType.imagePath}}"
                             alt="Featured Auction Label" class="featured-auction-label"/>

                        <div class="auction-info-status">
                            <div>Starting Price: <span th:text="${auction.startingPrice}"></span> <span th:text="${auction.currencyCode}"></span></div>
                            <div>Highest Bid: <span th:text="${auction.highestBid}"></span> <span th:text="${auction.currencyCode}"></span></div>
                        </div>

                    </a>
                    <div class="button-group">
                        <button class="btn btn-text"
                                th:data-auction-id="${auction.id}"
                                th:data-featured-type="${auction.featuredType.name()}"
                                onclick="showEditModal(this)">
                            Feature this auction
                        </button>
                    </div>
                </div>

                <div id="editModal" class="modal">
                    <div class="modal-content">
                        <span class="close" onclick="closeEditModal()">&times;</span>
                        <form id="featureAuctionForm" th:action="@{/feature-auction}" method="post">
                            <input type="hidden" id="modalAuctionId" name="auctionId" value="" />
                            <select id="modalFeaturedType" name="featuredType">
                                <option value="">Not Featured</option>
                                <option value="CHEAP">Cheapest Auctions</option>
                                <option value="EXPENSIVE">Most Expensive Auctions</option>
                                <!-- add more feature types as needed -->
                            </select>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button type="submit">Update Feature</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <div id="soldAuctions" class="auction-list" style="display: none;">
            <div class="featured-auctions">
                <div class="featured-auctions-title">
                    <div class="featured-auctions-title">
                        <img th:src="@{/auctionSectionImages/sold-auctions.png}" alt="Sold Logo" class="featured-auctions-logo"/>
                        <h2>Ended Auctions</h2>
                    </div>
                </div>
                <div th:if="${pastAuctions.isEmpty()}" class="no-auctions-message">
                    <div>No ended auctions to display.</div>
                </div>
                <div class="auction-items-container" th:unless="${pastAuctions.isEmpty()}">
                    <div th:each="auction : ${pastAuctions}" class="auction-item">
                        <img th:src="@{|/${auction.imageUrls[0]}|}"
                             alt="Auction Image" class="auction-image"/>
                        <div class="auction-info">
                            <h3 th:text="${auction.title}">Auction Title</h3>
                            <div>Category: <span th:text="${auction.category.name}"></span></div>
                            <div>Ended: <span th:text="${#temporals.format(auction.endTime, 'yyyy-MM-dd HH:mm')}"></span></div>
                            <div>Starting Price: <span th:text="${auction.startingPrice}"></span> <span th:text="${auction.currencyCode}"></span></div>
                            <div>Final Price: <span th:text="${auction.highestBid}"></span> <span th:text="${auction.currencyCode}"></span></div>
                        </div>
                        <div class="auction-info-status">

                            <div th:if="${auction.buyer != null}" class="auction-info-right">
                                <div>Sold for: <span th:text="${auction.highestBid}">Final Price</span> PLN</div>
                                <div>Buyer: <a th:href="@{'/user/' + ${auction.buyer.username}}" class="user-link" th:text="${auction.buyer.username}">Buyer's Name</a></div>
                                <div class="status-info">Status: <span th:text="${auction.status}">Auction Status</span></div>
                            </div>

                            <div th:if="${auction.buyer == null}" class="auction-info-right">
                                <div class="status-info">Status: <span th:text="${auction.status}">Auction Status</span></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/show-user-auctions.js}"></script>
</html>