<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Profile</title>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <link th:href="@{/css/search-bar.css}" rel="stylesheet" />
  <link th:href="@{/css/sidebar.css}" rel="stylesheet" />
  <link th:href="@{/css/profile.css}" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

  <script th:src="@{/js/dropdown.js}"></script>
  <script th:src="@{/js/auction-search.js}"></script>
  <script th:src="@{/js/profile.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="layout-container">
  <div class="sidebar-container">
    <div class="sidebar">
      <h2>Auction Sections</h2>
      <a href="/admin/all-auctions" class="sidebar-link">View My Listings</a>
      <a href="/profile/purchase-auctions" class="sidebar-link">View My Purchases</a>
      <a href="/profile/my-bids-and-watches" class="sidebar-link">View My Active Bids and Watches</a>
    </div>
    <div class="sidebar">
      <h2>Account Sections</h2>
      <a href="/profile/edit" class="sidebar-link">Edit Profile</a>
      <a href="/profile/change-password" class="sidebar-link">Change Password</a>
    </div>
    <div class="sidebar">
      <h2>Back Section</h2>
      <a href="/home" class="sidebar-link">Go Back Home</a>
    </div>
  </div>
  <div class="main-content">
    <div class="profile-details">
      <p><strong>Email:</strong> <span th:text="${currentUser.email}"></span></p>
      <p><strong>Username:</strong> <span th:text="${currentUser.username}"></span></p>
      <p><strong>First Name:</strong> <span th:text="${currentUser.firstName}"></span></p>
      <p><strong>Last Name:</strong> <span th:text="${currentUser.lastName}"></span></p>
      <p><strong>Location:</strong> <span th:text="${currentUser.location}"></span></p>
      <p><strong>Phone Number:</strong> <span th:text="${currentUser.phoneNumber}"></span></p>
    </div>
  </div>
</div>

<div th:if="${message}" class="success-message">
  <p th:text="${message}"></p>
</div>

</body>
</html>