<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Profile</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <link th:href="@{/css/profile.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
  <h1>User Profile</h1>
  <div class="profile-details">
    <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
    <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
    <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Location:</strong> <span th:text="${user.location}"></span></p>
    <p><strong>Phone Number:</strong> <span th:text="${user.phoneNumber}"></span></p>

    <a href="/profile/edit" class="btn">Edit Profile</a>
    <a href="/profile/change-password" class="btn">Change Password</a>

    <div th:if="${message}" class="success-message">
      <p th:text="${message}"></p>
    </div>

    <button onclick="window.location.href='/auctions/create';">Create Auction</button>

    <button onclick="location.href='/profile/auctions'">View My Auctions</button>

    <button onclick="window.location.href='/profile/highest-bids';">View My Highest Bids</button>

    <button onclick="location.href='/home'">Home</button>
  </div>

</div>

</body>
</html>