<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/search-bar.css}" rel="stylesheet" />
    <link th:href="@{/css/profile.css}" rel="stylesheet" />
    <link th:href="@{/css/user-profile.css}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <script th:src="@{/js/dropdown.js}"></script>
    <script th:src="@{/js/auction-search.js}"></script>
    <script th:src="@{/js/confirm-action.js}"></script>

</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="layout-container">

    <div class="main-content">

        <div th:if="${currentUser.role == 'ADMIN'}" class="admin-actions">

            <div th:if="${profileUser.status.name() == 'SUSPENDED'}">
                    <form th:action="@{/admin/unsuspend-user}" method="post" onsubmit="confirmAction(event, 'Are you sure you want to unsuspend this user?')">
                        <input type="hidden" name="userId" th:value="${profileUser.id}" />
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn">Unsuspend User</button>
                    </form>
            </div>
            <div th:if="${profileUser.status.name() != 'SUSPENDED'}">
                <form th:action="@{/admin/suspend-user}" method="post" onsubmit="confirmAction(event, 'Are you sure you want to suspend this user?')">
                    <input type="hidden" name="userId" th:value="${profileUser.id}" />
                    <label for="suspensionDays">Suspension Duration (Days):</label>
                    <input type="number" id="suspensionDays" name="suspensionDays" min="1" value="1" />
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn">Suspend User</button>
                </form>
            </div>
            <div th:if="${profileUser.status.name() == 'BANNED'}">
                    <form th:action="@{/admin/unban-user}" method="post" onsubmit="confirmAction(event, 'Are you sure you want to unban this user?')">
                        <input type="hidden" name="userId" th:value="${profileUser.id}" />
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button type="submit" class="btn">Unban User</button>
                    </form>
            </div>
            <div th:if="${profileUser.status.name() != 'BANNED'}">
                <form th:action="@{/admin/ban-user}" method="post" onsubmit="confirmAction(event, 'Are you sure you want to ban this user?')">
                    <input type="hidden" name="userId" th:value="${profileUser.id}" />
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button type="submit" class="btn">Ban User</button>
                </form>
            </div>
        </div>

        <div th:if="${not #strings.isEmpty(successMessage)}" class="alert alert-success">
            <p th:text="${successMessage}"></p>
        </div>

        <div class="profile-details">
            <p><strong>Email:</strong> <span th:text="${profileUser.email}"></span></p>
            <p><strong>Username:</strong> <span th:text="${profileUser.username}"></span></p>
            <p><strong>First Name:</strong> <span th:text="${profileUser.firstName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${profileUser.lastName}"></span></p>
            <p><strong>Location:</strong> <span th:text="${profileUser.location}"></span></p>
            <p><strong>Phone Number:</strong> <span th:text="${profileUser.phoneNumber}"></span></p>
            <p><strong>Status:</strong> <span th:text="${profileUser.status}"></span></p>
        </div>

        <div>
            <div class="feedback-section">
                <h2>Feedback: </h2>
                <div class="cumulative-rating" th:text="${cumulativeRating}"></div>
            </div>

            <div th:each="feedback : ${feedbackList}" class="feedback-container">
                <div th:if="${feedback.seller == profileUser}" class="feedback-item">
                    <div class="feedback-header">
                        <div class="feedback-username" th:text="${feedback.buyer.username}"></div>
                        <div class="feedback-rating-date">
                            <div th:text="${#temporals.format(feedback.dateOfBuyerFeedback, 'dd MMMM yyyy')}"></div>
                            <div th:text="${feedback.ratingByBuyer}"></div>
                        </div>
                    </div>
                    <div class="feedback-comment" th:text="${feedback.commentByBuyer}"></div>
                </div>
                <div th:if="${feedback.buyer == profileUser}" class="feedback-item">
                    <div class="feedback-header">
                        <div class="feedback-username" th:text="${feedback.seller.username}"></div>
                        <div class="feedback-rating-date">
                            <div th:text="${#temporals.format(feedback.dateOfSellerFeedback, 'dd MMMM yyyy')}"></div>
                            <div th:text="${feedback.ratingBySeller}"></div>
                        </div>
                    </div>
                    <div class="feedback-comment" th:text="${feedback.commentBySeller}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>