
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>My Listings</title>
  <link th:href="@{/css/user-auctions.css}" rel="stylesheet" />
  <script th:src="@{/js/user-auctions.js}"></script>
</head>
<body>
<div class="layout-container">
  <div class="sidebar">
    <h2>Auction Sections</h2>
    <a href="#" class="sidebar-link" id="ongoingLink">Ongoing Auctions</a>
    <a href="#" class="sidebar-link" id="soldLink">Sold Auctions</a>
    <a href="/profile" class="sidebar-link">Back to Profile</a>
  </div>
  <div class="main-content">
    <div id="ongoingAuctions" class="auction-list">
      <div class="featured-auctions">
        <div class="featured-auctions-title">
          <img th:src="@{/auctionSectionImages/ongoing-auctions.png}" alt="OnGoing Logo" class="featured-auctions-logo"/>
          <h2>Ongoing Auctions</h2>
        </div>
        <div th:if="${ongoingAuctions.isEmpty()}" class="no-auctions-message">
          <div>No ongoing auctions available.</div>
        </div>
        <div class="auction-items-container" th:unless="${ongoingAuctions.isEmpty()}">
          <a th:href="@{'/auction/' + ${auction.slug}}" th:each="auction : ${ongoingAuctions}" class="auction-item auction-item-link" th:id="'auction-item-' + ${auction.id}">

              <img th:src="@{|/${auction.imageUrls[0]}|}" alt="Auction Image" class="auction-image"/>
              <div class="auction-info">
                <h3 th:text="${auction.title}">Auction Title</h3>
                <div>Starts/Ends: <span th:text="${#temporals.format(auction.startTime, 'yyyy-MM-dd HH:mm')}"></span> - <span th:text="${#temporals.format(auction.endTime, 'yyyy-MM-dd HH:mm')}"></span></div>
              </div>
            <div class="button-group">
              <button th:if="${auction.highestBid == 0}"
                      class="btn btn-text"
                      th:data-auction-id="${auction.id}"
                      th:data-auction-slug="${auction.slug}"
                      onclick="handleEditAuction(event, this.getAttribute('data-auction-id'))">
                Edit
              </button>
              <button th:if="${auction.highestBid == 0}" class="btn btn-text btn-danger" th:data-auction-id="${auction.id}" onclick="handleRemoveAuction(event, this.getAttribute('data-auction-id'))">
                Remove
              </button>
            </div>
            <div class="price-details">
              <div>Starting Price: <span th:text="${auction.startingPrice}"></span></div>
              <div>Highest Bid: <span th:text="${auction.highestBid}"></span></div>
            </div>

          </a>
        </div>
      </div>
    </div>

    <div id="soldAuctions" class="auction-list" style="display: none;">
      <div class="featured-auctions">
        <div class="featured-auctions-title">
          <div class="featured-auctions-title">
            <img th:src="@{/auctionSectionImages/sold-auctions.png}" alt="Sold Logo" class="featured-auctions-logo"/>
            <h2>Sold Auctions</h2>
          </div>
        </div>
        <div th:if="${pastAuctions.isEmpty()}" class="no-auctions-message">
          <div>No sold auctions to display.</div>
        </div>
        <div class="auction-items-container" th:unless="${pastAuctions.isEmpty()}">
          <div th:each="auction : ${pastAuctions}" class="auction-item">
            <img th:src="@{|/${auction.imageUrls[0]}|}"
                 alt="Auction Image" class="auction-image"/>
            <div class="auction-info">
              <h3 th:text="${auction.title}">Auction Title</h3>
              <div>Category: <span th:text="${auction.category.name}"></span></div>
              <div>Ends: <span th:text="${#temporals.format(auction.endTime, 'yyyy-MM-dd HH:mm')}"></span></div>
              <div>Starting Price: <span th:text="${auction.startingPrice}"></span></div>
              <div>Highest Bid: <span th:text="${auction.highestBid}"></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/js/profile.js}"></script>
</body>
</html>