.container {
    position: relative;
}

.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-area {
  flex-basis: 70%;
}

.watch-button-area {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

.watch-button-detail {
    font-size: 1.5em;
    min-width: 120px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb {
    background: #f8f8f8;
    border-radius: .25rem;
    list-style: none;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 .5rem;
    color: #6c757d;
}