.featured-auctions {
    height: 400px;
    display: inline-flex;
    overflow: hidden;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
}

.featured-auctions h2 {
    text-align: center;
    font-size: 1.5em;
    color: #333;
}

.featured-auctions-title {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.featured-auctions-title h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.featured-auctions-logo {
    border-radius:10px;
    margin: 20px;
    height: auto;
    max-height: 70%;
    width: auto;
    max-width: 100%;
}

.auction-items-container {
    border: 1px solid #e9ecef;
    border-radius: 10px;
    display: flex;
    overflow-x: auto;
    padding-right: 20px;
    margin-left: 20px;
}

.auction-item {
    width: 180px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auction-image {
    border-radius: 10px;
    margin: 10px auto;
    width: calc(100% - 20px);
    height: auto;
    display: block;
}

.auction-info {
    text-align: center;
}

.auction-detail-link {
    text-decoration: none;
    color: inherit;
}

.auction-detail-link:hover .auction-item {
    background-color: #f8f8f8;
}