.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;
}

.search-container input[type="text"] {
    padding: 10px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar .create-auction-button, .navbar .profile-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-button {
    margin: 0;
    padding: 10px 15px;
    background-color: white;
    color: #007bff;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.dropdown-button:last-child {
    border-bottom: none;
}

.dropdown-button:hover {
    background-color: #e7f0fd;
    color: #0056b3;
}

.show {
    display: block;
}

.main-container {
     margin: 20px;
     padding: 20px;
}

#categories {
    border: 1px solid #e9ecef;
    float: left;
    width: 30%;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    margin: 30px 0;
}

#categories > ul {
    padding: 0;
    margin: 0;
}

#categories > ul > li {
    position: relative;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    list-style-type: none;
}

#categories > ul > li > a {
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

#categories .subcategories {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 100;
    padding: 0;
}

#categories > ul > li:hover .subcategories {
    display: block;
}

#categories .subcategories li {
    list-style-type: none;
    margin-bottom: 0;
}

#categories .subcategories li a {
    padding: 10px 15px;
    display: block;
    background-color: #f8f9fa;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    border-bottom: 1px solid #e9ecef;
}

#categories .subcategories li a:hover {
    background-color: #e9ecef;
    color: #0056b3;
}

#categories .subcategories li:last-child a {
    border-bottom: none;
}