.layout-container {
  padding: 20px;
  display: flex;
  font-family: 'Arial', sans-serif;
}

.sidebar {
  border-right: 1px solid #e9ecef;
  padding: 0px 20px;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.sidebar-link {
  display: block;
  margin-bottom: 20px;
  color: #343a40;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #e9ecef;
}

.sidebar-link:last-child {
  border-bottom: none;
}

.sidebar-link.active {
  background-color: #ddd;
  border-radius: 5px;
}

.main-content {
  flex-grow: 1;
  padding: 0px 20px;
  box-sizing: border-box;
}

.auction-list {
  display: flex;
  flex-direction: column;
}

.auction-item {
  border: 1px solid #e9ecef;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
  background: #fff;
  display: flex;
  justify-content: space-between;
}

.auction-image {
  width: 180px;
  height: auto;
  border-radius: 10px;
}

.auction-info {
  flex-grow: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.auction-info h3 {
  font-size: 20px;
}

.featured-auctions-title {
    display: flex;
    align-items: center;
}

.featured-auctions-logo {
    flex-shrink: 0;
    width: 210px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.featured-auctions-title h2 {
    flex-grow: 1;
    margin: 0;
}

.no-auctions-message {
  text-align: start;
  color: #666;
  font-style: italic;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    width: 20%;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-danger:hover {
    background-color: #c82333;
    color: white;
}