<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/search-bar.css}" rel="stylesheet" />
    <link th:href="@{/css/categories.css}" rel="stylesheet" />
    <link th:href="@{/css/featured-auction.css}" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <script th:src="@{/js/dropdown.js}"></script>
    <script th:src="@{/js/auction-search.js}"></script>
</head>
<body>

<div th:replace="navbar :: navbar"></div>

<div class="main-container">
    <div id="categories">
        <h2>Browse Categories</h2>
        <ul>
            <li th:each="category : ${parentCategories}">
                <a href="#" th:data-category-name="${category.name}" class="category-link">
                    <span th:text="${category.name}">Parent Category Name</span>
                </a>
                <ul class="subcategories" th:if="${!category.childCategories.isEmpty()}">
                    <li th:each="subCategory : ${category.childCategories}">
                        <a href="#" th:data-category-name="${subCategory.name}" class="category-link" th:text="${subCategory.name}">Subcategory Name</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div th:if="${!cheapestAuctions.isEmpty()}" class="featured-auctions">
        <div class="featured-auctions-title">
            <h2>Cheapest Auctions</h2>
            <img src="auctionSectionImages/cheap.png" alt="Cheap Logo" class="featured-auctions-logo"/>
        </div>
        <div class="auction-items-container">
            <div th:each="auction : ${cheapestAuctions}" class="auction-item">
                <a th:href="@{|/auction/${auction.slug}|}" class="auction-detail-link">
                    <img th:src="@{|/${auction.imageUrls[0]}|}"
                         alt="Auction Image" class="auction-image"/>
                    <div class="auction-info">
                        <h3 th:text="${auction.title}">Auction Title</h3>
                        <p><span>Starting Price: </span><span th:text="${auction.startingPrice}">Starting Price</span></p>
                        <p><span>Highest Bid: </span><span th:text="${auction.highestBid}">Highest Bid</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div th:if="${!expensiveAuctions.isEmpty()}" class="featured-auctions">
        <div class="featured-auctions-title">
            <h2>Most Expensive Auctions</h2>
            <img src="auctionSectionImages/expensive.png" alt="Expensive Logo" class="featured-auctions-logo"/>
        </div>
        <div class="auction-items-container">
            <div th:each="auction : ${expensiveAuctions}" class="auction-item">
                <a th:href="@{|/auction/${auction.slug}|}" class="auction-detail-link">
                    <img th:src="@{|/${auction.imageUrls[0]}|}"
                         alt="Auction Image" class="auction-image"/>
                    <div class="auction-info">
                        <h3 th:text="${auction.title}">Auction Title</h3>
                        <p><span>Starting Price: </span><span th:text="${auction.startingPrice}">Starting Price</span></p>
                        <p><span>Highest Bid: </span><span th:text="${auction.highestBid}">Highest Bid</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div th:if="${!goodDealAuctions.isEmpty()}" class="featured-auctions">
        <div class="featured-auctions-title">
            <h2>Good Deal Auctions</h2>
            <img src="auctionSectionImages/good-deal.webp" alt="Expensive Logo" class="featured-auctions-logo"/>
        </div>
        <div class="auction-items-container">
            <div th:each="auction : ${goodDealAuctions}" class="auction-item">
                <a th:href="@{|/auction/${auction.slug}|}" class="auction-detail-link">
                    <img th:src="@{|/${auction.imageUrls[0]}|}"
                         alt="Auction Image" class="auction-image"/>
                    <div class="auction-info">
                        <h3 th:text="${auction.title}">Auction Title</h3>
                        <p><span>Starting Price: </span><span th:text="${auction.startingPrice}">Starting Price</span></p>
                        <p><span>Highest Bid: </span><span th:text="${auction.highestBid}">Highest Bid</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>

</body>
</html>