<div th:fragment="navbar">
  <nav class="navbar">
    <div class="search-container">
      <form action="/search" method="get" class="search-form">
        <input type="text" placeholder="What you search for..." name="search" th:value="${param.search}" class="search-input" />
        <input type="text" placeholder="Location..." name="location" th:value="${param.location}" class="location-input" />
        <input type="hidden" name="category" th:value="${param.category}" class="category-input" />
        <button type="submit" class="search-button">Search</button>
      </form>
    </div>
    <div class="navbar-right">
      <button onclick="window.location.href='/auctions/create';" class="create-auction-button">Create Auction</button>
      <div class="profile-container">
        <button class="profile-button" onclick="toggleDropdown()" th:text="${currentUser.email}">User Email</button>
        <div id="myDropdown" class="dropdown-content">
          <div class="dropdown-button"
               th:data-target-url="${currentUser.role == 'ADMIN' ? '/admin/profile' : '/profile'}"
               onclick="navigateToProfile(this)">
            <span th:text="${currentUser.role == 'ADMIN' ? 'Admin Profile' : 'My Profile'}">My Profile</span>
          </div>
          <div class="dropdown-button" onclick="document.getElementById('logout-form').submit();">
            Logout
          </div>
          <form id="logout-form" action="/logout" method="post" style="display: none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="submit" value="Logout" />
          </form>
        </div>
      </div>
      <div class="notification-container">
        <span class="notification-bell" onclick="toggleNotificationsDropdown()">🔔</span>
        <span class="notification-count">0</span>
        <div id="notificationDropdown" class="notification-dropdown-content" style="display: none;">
        </div>
      </div>
    </div>
  </nav>
</div>